* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #eef3f7;
    color: #444;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #1c1f26;
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Full height of viewport */
    position: fixed; /* Stays fixed on the left */
    top: 0;
    left: 0;
}

.sidebar .logo img {
    width: 100%;
    margin-bottom: 30px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.menu-item img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    filter: invert(1);
}

.menu ul li a {
    text-decoration: none;
    color: #b8bcc7;
    font-size: 16px;
}

.menu ul li a:hover {
    color: #fff;
    font-weight: bold;
}

/* Submenu */
.menu ul .submenu {
    display: none; 
    padding-left: 20px; 
    margin-top: 2px; 
    list-style: none;
    margin-bottom: 2px;
}

.menu ul .submenu a {
    text-decoration: none;
    color: #b8bcc7; 
    font-size: 14px; 
    display: block;
    padding: 10px 15px; 
    margin-bottom: 2px; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu ul .submenu a:hover {
    color: #fff; 
}

/* Show submenu when parent is hovered */
.menu ul li:hover > .submenu {
    display: block; 
}

.logout {
    margin-top: 50px;
}

.logout a {
    text-decoration: none;
    color: #e74c3c;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logout a:hover {
    text-decoration: underline;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-left: 270px; 
    width: calc(100% - 125px); 
    background-color: white;
    min-height: 100%; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f7f9fc;
    border-bottom: 1px solid #ddd;
    margin: -20px -20px 20px -20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h1, h2, h3, h6 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #2c3e50;
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #1a242f;
}

#evaluation-criteria {
    margin-top: 40px;
}

.criteria-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.criteria-item {
    width: 48%; /* Each item takes up 48% of the row, leaving space for margins */
}

.criteria-item label {
    font-weight: bold;
    color: #2c3e50;
    display: block;
    margin-bottom: 5px;
}

.criteria-item input[type="number"], .feedback-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}


.evaluation-header {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9fc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.evaluation-header h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
}

.evaluation-header h3 {
    color: #555;
    font-size: 18px;
    margin-bottom: 20px;
}

.instructions {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    font-style: italic;
}

.classifications {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.classification-item {
    font-size: 16px;
    color: #444;
    display: flex;
    align-items: center;
    gap: 10px;
}

.classification-item .score {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle-sidebar {
    display: none; /* Hidden by default */
}

/* Feedback Section Styling */
.feedback-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}


.feedback-section textarea {
    width: 100%;
    max-width: 650px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo sutil */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombras internas */
 
    transition: all 0.3s ease; /* Transición suave */
}







.criteria-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.feedback-input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    resize: vertical;
}

.feedback-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Small Devices (Mobile, ≤480px) */
@media (max-width: 480px) {
    body {
        background-color: white;
        display: block;
    }

    .container {
        margin-left: 10px;
        padding: 10px;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        margin-top: -15px;
    }

    .sidebar {
        display: none; /* Hidden by default */
        position: fixed;
        transform: translateX(-100%);
    }

    .sidebar.open {
        display: flex;
        transform: translateX(0);
        height: 100%;
    }

    .toggle-sidebar {
        display: block;
        position: fixed;
        top: 3px;
        left: 10px;
        z-index: 1000;
        background-color: #2c3e50;
        color: white;
        padding: 10px;
        border-radius: 5px;
        font-size: 12px;
    }

    .logo{
        margin-top:40px;
    }

    .toggle-sidebar:hover {
        background-color: #1a242f;
    }

    .header {
        justify-content: flex-end;
        margin-top: 5px;
    }

    .user-info img {
        width: 40px;
        height: 40px;
    }

    .criteria-item {
        flex: 1 1 100%; /* Full width for small devices */
    }
    
    .section p{
        font-size: 10px;
    }

    .criteria-item input{
        width: 15px;
    }

    .criteria-row {
        display: flex;
        gap: 15px; /* Reduce gap for smaller screens */
    }

    .criteria-item {
        width: 100%; /* Full width for each item */
        margin: 0 auto; /* Center each input */
    }

    .criteria-item input {
        width: 90%; /* Reduce input width slightly */
    }

    .feedback-section {
        align-items: center;
        margin-top: 15px;
    }

    .criteria-label {
        font-size: 14px;
        text-align: center;
    }

    .feedback-input {
        max-width: 100%; /* Full width for small screens */
        font-size: 12px;
        padding: 6px;
    }
}

/* Medium Devices (Tablets, 481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: white;
        display: block;
    }

    .container {
        margin-left: 10px;
        padding: 10px;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        margin-top: -15px;
    }

    .criteria-item {
        flex: 1 1 48%; /* Two items per row for tablets */
    }
    

    .sidebar {
        display: none; /* Hidden by default */
        position: fixed;
        transform: translateX(-100%);
    }

    .sidebar.open {
        display: flex;
        transform: translateX(0);
        height: 100%;
    }

    .toggle-sidebar {
        display: block;
        position: fixed;
        top: 1px;
        left: 10px;
        z-index: 1000;
        background-color: #2c3e50;
        color: white;
        padding: 10px;
        border-radius: 5px;
        font-size: 12px;
    }

    .logo{
        margin-top:40px;
    }

    .toggle-sidebar:hover {
        background-color: #1a242f;
    }

    .header {
        padding: 15px;
        justify-content: flex-end;
    }

    .user-info{
        margin-top: 20px;
    }

    .user-info img {
        width: 50px;
        height: 50px;
    }

    .criteria-row {
        display: flex;
        gap: 15px; /* Reduce gap for smaller screens */
    }

    .criteria-item {
        width: 100%; /* Full width for each item */
        margin: 0 auto; /* Center each input */
    }

    .criteria-item input {
        width: 90%; /* Reduce input width slightly */
    }

    .feedback-section {
        align-items: center;
    }

    .criteria-label {
        font-size: 15px;
    }

    .feedback-input {
        max-width: 90%; /* Use percentage to adapt to smaller screens */
        font-size: 12px;
        padding: 8px;
    }
}

/* Large Devices (Laptops, 769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        margin-left: 250px;
        padding: 20px;
        width: calc(100% - 250px);
    }

    .criteria-item {
        flex: 1 1 48%;
    }

    .sidebar {
        width: 250px;
    }

    .feedback-section {
        align-items: center;
    }

    .feedback-input {
        max-width: 500px;
        font-size: 13px;
    }
}

